body{
    background-color: rgb(79, 95, 93);
    text-align: center;
}

#survey-form {
    display: grid;
    grid-row-gap: 1em;
    background-color: rgb(37, 97, 89);
    
}

.form-body {
    margin: 10px 15%;
    border: 50px;
}
.rows{
    display: grid;
    grid-template-columns:40% 20%;
    grid-column-gap: 1em;
}
.label {
    justify-self: end;
}

ul {
    text-align: left;
}
.box {
    display: gird;
}

h1, #description {
    text-align: center;
}

p {
    font-style: italic;
    font-size: 18px;
    color: blue;
}

#submit {
    margin: 10px 45%;
    color: white;
    background-color: black;
    border-radius: 10px;
    
}


